<%= stylesheet_link_tag "frontpage" %>
<%= javascript_include_tag('splitscreen') %>
<div class="first-half-pic">
<div class="container first-half">
&nbsp
<div class="testing">

</div>
</div>

<div class="second-half">
&nbsp
</div>

</div>
