

<div class="first-half-pic">
	<div class="container first-half">
		<button class="front-end-button"><a href="#" class="myButton">Front End Designs</a></button>	
	</div>


    <div class="front-page-sticker"></div>
	<div class="second-half">
		
	</div>
</div>
