body {

	font-family:"Hind", sans-serif;
}


.first-half {

	width:49%;
	min-height:100%;
	background-color:rgba(2,2,2,0.7);
	float:left;
	margin-right:1%;
	position:relative;
}

.second-half {

	width:49%;
	min-height:100%;
	background-color:rgba(2,2,2,0.7);
	float:right;
}

.first-half-pic {

	background-image:url("https://scontent-lax3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/428358_10150631328327089_1871480827_n.jpg?oh=ac7275cfac5e52090c406897b6b1f108&oe=56E1DF1D");
	background-repeat:no-repeat;
	height:50em;
	background-position:center; 
	background-attachment: scroll;
	width:100%;

}